:root {
    --maincolor: #F9D8CA;
    --pricecolor: #AD655F;
    --logocolor: #615C60; /* Volcanic Glass */
    --backgroundcolor: #FCFCFC; /* OFF WHITE*/
    --nostalgiaRose: #A67A84;
    --opalGray: #A49E9D;
    --puritanGray: #A4B0AC;
    --silverGray: #C6BFB8;
}

* {
    font-family: 'Lato', serif;
}

#app {
      background-color:#525174;  
      height: 100%;
      margin: 0;
      padding: 1px 0 0 0;
    }

.login-div {
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;

    }


html, body { height: 100%; } 


