.mod_search {
    position: relative;
    height: 100px;
    background-position: 50%;
    background-size: cover;
    background-color: var(--maincolor);
    width: 80%;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 10px;
}

.mod_search
.mod_search_input,
.mod_search .search_input__input
{
    width: 637px;
    height: 50px;
    font-weight: 300;
}

.mod_search
.mod_search_input
.mod_search_input_brand
{
    width: 20%;
    outline: none;
}

.mod_search
.mod_search_input
.mod_search_input_title
{
    width: 75%;
    outline: none
}

.mod_search
.mod_search_input
{   
    border: 0 none;
    padding: 0 70px 0 15px;
    line-height: 50px;
    left: 50%;
    top: 25px;
    margin-top: 0;
    margin-left: -322px;
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-start;
}

.mod_search_input {
    position: relative;
    border-radius: 3px;
}

.search_input__input {
    font-size: 1.05rem;
    transition: width .6s ease-out,visibility .6s 1ms ease-out;
    background: 0 0;
    border: 0 none;
    line-height: 1.5;
    outline-width: 0;
}

.mod_search 
.search_input__btn {
    width: 50px;
    height: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_input__btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 0 none;
    width: 38px;
    height: 35px;
    overflow: visible;
    background: 0 0;
    outline: none;
}

.search_input__btn:focus,
.search_input__btn:active {
    outline: none;

}

button {
    cursor: pointer;
}

.icon_search {
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -13px;
    width: 24px;
    height: 24px;
    /*background-position: 0 -40px;*/
}

.sprite {
    background-image: url(./search.png);
}

/* SEARCH DROP DOWN LIST */

.mod_search .mod_search_result {
    top: 74px;
    left: 50%;
    margin-left: -322px;
    background: #fff;
    width: 637px;
}

.mod_search_result {
    position: absolute;
    visibility: hidden;
    max-height: 0;
    z-index: 9;
    text-align: left;
    font-size: 14px;
    border: 1px solid #dae0e5;
}
/* When search bar is selected */
.drop { 
    visibility:visible;
    max-height:800px;
    -webkit-transition:max-height .6s ease-out;
    transition:max-height .6s ease-out;
}

.mod_search
.search_result__sort {
    position: relative;
    padding: 0;
    border-top: 0;
    margin-top: -1px;
}

.mod_search
.search_result__list {
    padding: 0px 0;
    margin: 0;
}

.search_result__list li {
    list-style: none;
    color: rgba(27, 13, 13, 0.404);;
}

.search_result__list li:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    
}

.search_result__list li a:hover {
    text-decoration: none;
}

.search_result__link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
}

.search_result__link,
.search_result__tit {
    padding: 0 11px 0 41px;
    line-height: 36px;
    color: #999;
    text-decoration: none;
}


/* Small screens */
@media all and (max-width: 800px) {
    .mod_search
    .mod_search_input,
    .mod_search .search_input__input
    {
        height: 50px;
        font-weight: 300;
        font-size: 1.1rem;
    }

    .mod_search {
        position: relative;
        background-size: cover;
        background-color: var(--maincolor);
        width: 97%;
        margin: 0 auto;
        border-radius: 6px;
        height: 80px;
    }

    .mod_search
    .mod_search_input
    {   
        border: 0 none;
        line-height: 50px;
        top: 15px;
        margin-top: 0;
        background: #fff;
        margin-left: 0;
        left: 10%;
        width: 80%;
    }

    .mod_search .mod_search_input .mod_search_input_title {
        width: 100%
    }

    .mod_search .mod_search_input, 
    .mod_search .mod_search_result {
        left: 2.5%;
        width: 95%;
        margin-left: 0;
    }

    .mod_search .mod_search_result {
        top: 65px;
    }
    .mod_search .mod_search_input .mod_search_input_brand,
    .divider {
        display: none;
        width: 0%;
        outline: none;
    }
    

}

