.shippingInfo {
    font-size: .9rem;
    margin-bottom: 0px;
}

.shippingInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.shippingInfoItem {
    flex-grow: 1;
    flex-basis: 0;
}